* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100vw;
    height: 10vh;
    background-color: #696969;
    box-shadow: black 5px 5px 5px 1px;
    display: flex;
    align-items: center;
}

header nav {
    margin-left: 50px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    font: bold;
}

header .logo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 45%;
    color: white;
}

header input {
    position: absolute;
    right: 50px;
}